<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>

<div class="container">
    <h1>Congrats!!! You did it!</h1>
    <form class="form-signout" action="/auth/logout" method="post" style="width: 400px; margin: 100px auto">
        <button type="submit" class="btn btn-primary">Sign out</button>
    </form>
</div>

</body>
</html>